*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Something that stays in the popup */
.container {
    display: block;
    width: 300px;
    height: 550px;
    background-color: skyblue;
}
.top {
    display: block;
    width: 100%;
    height: 10%;
    background-color: skyblue;
    text-align: center;
    padding: 5px 5px;
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
}
.buttons {
    margin: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;   
}
.blwBtn {
    background: white;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(128, 195, 222);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background 0.2s;
}
.blwBtn:hover {
    background: rgba(0, 0, 0, 0.2);
}
.blocks {
    display: flex;
    width: 100%;
    height: 73%;
}

/* This is what contains in the block */
.divblock {
    width: 100%;
    height: auto;
    background: grey;
    
}

.divheading{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: lightblue;
}

.blocksite{
    width: auto;
    height: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.listtitle{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: coral;
    font-family: "Arial", Helvetica, sans-serif, serif;
}
.list{
    background: yellow;
    width: auto;
    height: 75px;
    font-family: "Arial", Helvetica, sans-serif, serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blockBTN{
    width: auto;
    height: 75px;
    display: flex;
    justify-content: center;
}

.practice{
    margin-top: 25px;
    background-color: black;
    color: white;
    width: auto;
    height: 25px;
    font-family: "Arial", Helvetica, sans-serif;
}

/* This is what contains in the timer */
.divtiming {
    width: 100%;
    height: auto;
    background: lightslategray;
    display: none;
}
.tableTime {
    width: 100%;
    height: auto;
    padding: 10px 60px;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.walangLabel {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 60px;
    text-align: center;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-between;
}
.timingBtnDiv {
    margin: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.timingbtn {
    background: white;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(128, 195, 222);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background 0.2s;
}
.timing:hover {
    background: rgba(0, 0, 0, 0.2);
}
input[type=number], select{
    width: 25%;
    height: auto;
    padding: 5px 5px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 4px;
}

/* This is what contains in others */
.divother {
    width: 100%;
    height: auto;
    background: blue;
    display: none;
}

/* other design things */
.linebreak {
    margin-left: 10px;
    margin-right: 10px;
    background-color: darkgrey;
    height: 2px;
    flex-basis: 100%;
}